@import './src/style/global';

.banner {
  position: relative;
  display: flex;
  height:  calc(100vh - ($phone-header-height + ($header-padding * 2)));

  .banner__image {
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
  }

  .banner__childrens {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
  }

  @media(min-width: $laptop) {
    height:  calc(100vh - ($desktop-header-height + ($header-padding * 2)));
  }
}
