/* Montserrat-300 - latin */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Federant&display=swap');

/* style | variant | weight | size/line-height | family */
$montserrat-64-medium: normal normal 500 4rem 'Montserrat', sans-serif;
$montserrat-48-medium: normal normal 500 3rem 'Montserrat', sans-serif;
$montserrat-36-medium: normal normal 500 2.25rem 'Montserrat', sans-serif;
$montserrat-36-regular: normal normal 400 2.25rem 'Montserrat', sans-serif;
$montserrat-32-medium: normal normal 500 2rem 'Montserrat', sans-serif;
$montserrat-32-regular: normal normal 400 2rem 'Montserrat', sans-serif;
$montserrat-24-bold: normal normal 700 1.5rem 'Montserrat', sans-serif;
$montserrat-24-medium: normal normal 500 1.5rem 'Montserrat', sans-serif;
$montserrat-24-regular: normal normal 400 1.5rem 'Montserrat', sans-serif;
$montserrat-20-regular: normal normal 400 1.25rem 'Montserrat', sans-serif;
$montserrat-20-medium: normal normal 500 1.25rem 'Montserrat', sans-serif;
$montserrat-20-bold: normal normal 700 1.25rem 'Montserrat', sans-serif;
$montserrat-16-bold: normal normal 700 1rem 'Montserrat', sans-serif;
$montserrat-16-regular: normal normal 400 1rem 'Montserrat', sans-serif;
$montserrat-16-medium: normal normal 500 1rem 'Montserrat', sans-serif;
$montserrat-14-regular: normal normal 400 0.875rem 'Montserrat', sans-serif;
$montserrat-11-bold: normal normal 700 0.688rem 'Montserrat', sans-serif;
$montserrat-11-medium: normal normal 500 0.688rem 'Montserrat', sans-serif;
$montserrat-11-regular: normal normal 400 0.688rem 'Montserrat', sans-serif;
$montserrat-8-bold: normal normal 700 0.5rem 'Montserrat', sans-serif;

$federant-48-regular: normal normal 400 3rem 'Federant', sans-serif;
$federant-24-regular: normal normal 400 1.5rem 'Federant', sans-serif;
