<main>
  <app-logo [size]="Sizes.medium"></app-logo>

  <h1>Réinitialision du mot de passe</h1>

  <form id="recover-password" class="inputs" (submit)="updatePassword($event)">
    <app-input [required]="true" [type]="'password'" id="password" placeholder="Nouveau mot de passe"></app-input>
    <app-input [required]="true" [type]="'password'" id="passwordConfirmation" placeholder="Confirmation"></app-input>
  </form>

  <div>
    <button custom-button form="recover-password" label="Réinitialiser" class="btn btn--medium btn--validation--default--rounded"></button>
  </div>

</main>
