@import '/src/styles/fonts';
@import '/src/styles/vars';


main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

  .inputs {
    display: flex;
    flex-direction: column;
  }

  h1 {
    font: $montserrat-16-regular;

    @media (min-width: $tablet) {
      font: $montserrat-36-regular;
    }
  }
}
