// Colors - base
$white: #fff;
$light: #F2F2F2;
$light-grey: #DCDCDC;
$grey: #C4C4C4;
$grey-dark: #858585;
$grey-darker: #7C7C7C;
$dark: #151515;
$black: #000;

//Colors - global
$primary: #640000;
$secondary: #A5821E;
$green: #32CA63;
$blue: #1877f2;
$danger: #A10805;
$validation: #05A136;


//Colors - houses
$gryffindor: #B11515;
$slytherin: #067117;
$ravenclaw: #3723B2;
$hufflepuff: #E5C61E;

//Colors - roles
$dev: #206694;


//Colors - opacity
$primary-opacity04: rgba(#640000, 0.4);
$primary-opacity05: rgba(#640000, 0.5);
$primary-opacity06: rgba(#640000, 0.6);
$primary-opacity07: rgba(#640000, 0.7);

$secondary-opacity04: rgba(#A5821E, 0.4);
$secondary-opacity05: rgba(#A5821E, 0.5);
$secondary-opacity06: rgba(#A5821E, 0.6);
$secondary-opacity07: rgba(#A5821E, 0.7);

$black-opacity03: rgba(#000000, 0.3);
$white-opacity03: rgba(#fff, 0.3);
