@import '/src/styles/fonts';
@import '/src/styles/vars';
@import '/src/styles/colors';

main {
  @media (min-width: $laptop) {
    padding: $space * 2 $space * 5;
  }

  margin-top: $space * 5;
  padding: $space * 2 $space * 2;
  display: flex;
  flex-direction: column;
  align-items: left;

  h2 {
    font: $montserrat-24-medium;
  }

  h3 {
    font: $montserrat-20-medium;
  }

  p, li {
    font: $montserrat-16-regular;
    margin: $space * 0.5 0;
  }

  b {
    font: $montserrat-16-bold;
  }

  a {
    color: $blue;
    text-decoration: none;
  }
}