@import './src/style/global';
@import url('https://fonts.googleapis.com/css2?family=Lateef&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin+Condensed:wght@700&display=swap');

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: $phone-header-height;

  padding: $header-padding 1.5em;
  z-index: 2;
  transition: all 350ms;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .hamburger {
      display: block;
      color: white;
      font-size: 1.5rem;

      @media (min-width: $laptop) {
        display: none;
      }
    }

    .link {
      color: white;
      text-decoration: none;
      transition: color 150ms;
      font: $montserrat-24-regular;

      h1 {
        margin: 0;
        font: $montserrat-24-bold;
        text-transform: uppercase;
        letter-spacing: 0.25em;
      }
    }

    .links {
      position: absolute;
      top: 59px;
      left: 0;
      height: 100vh;
      width: 100%;
      background-color: $dark;
      padding: $space * 2 0;
      transition: all 350ms ease;

      .container {
        height: fit-content;
        max-height: 70%;
        overflow-y: scroll;

        display: flex;
        flex-direction: column;
        align-items: center;
        gap: $space;

        .public,
        .private {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: $space;

          @media (min-width: $laptop) {
            flex-direction: row;
            gap: 0;
          }
        }

        .public {
          @media (min-width: $laptop) {
            width: 70%;
            justify-content: center;
          }
        }

        .private {
          .signin_microsoft {
            display: flex;
            align-items: center;
            gap: 12px;
            font: 15px Helvetica, sans-serif;
            font-weight: 600;
            color: #5e5e5e;
            background-color: white;
            border: 1px #8c8c8c;
            padding: $space * 0.5 $space;
            cursor: pointer;

            &:hover {
              background-color: #dddddd;
            }
          }

          .infos {
            display: flex;
            align-items: center;
            flex-direction: column;
            gap: $space * 0.8;

            .cart {
              position: relative;
              cursor: pointer;

              .badge {
                position: absolute;
                right: -10px;
                top: -10px;
                padding: 3px 5.3px;
                background: $white;
                border-radius: 50%;
                color: $black;
                font: $montserrat-8-bold;
              }

              .icon {
                font-size: 30px;
                color: white;
              }
            }

            .gems {
              display: flex;
              align-items: center;
              justify-content: space-between;

              height: fit-content;

              border: 1px solid $white;
              border-radius: 10px;
              padding: 0.3em 0.6em;

              margin-left: 0;

              text-decoration: none;

              p {
                font: $montserrat-24-regular;
                color: $white;
                margin: 0;
              }

              svg {
                margin-left: $space * 0.25;
              }

              @media (min-width: $laptop) {
                margin-left: 24px;
              }
            }

            @media (min-width: $laptop) {
              gap: 0;
              align-items: center;
              flex-direction: row;
            }
          }

          @media (min-width: $laptop) {
            align-items: center;
          }
        }

        @media (min-width: $laptop) {
          overflow: unset;
          flex-direction: row;
          justify-content: space-between;
        }
      }

      @media (min-width: $laptop) {
        position: relative;
        top: 0;
        background-color: transparent;
        height: fit-content;
        width: 80%;
        padding: 0;
        gap: 0;
      }
    }

    .navOpen {
      transform: translateX(0);

      @media (min-width: $laptop) {
        transform: unset;
      }
    }

    .navHidden {
      transform: translateX(-100%);

      @media (min-width: $laptop) {
        transform: unset;
      }
    }
  }

  @media (min-width: $laptop) {
    height: $desktop-header-height;
    padding: $header-padding 3em;
  }
}

.primary {
  background-color: $primary;
}

.dark {
  background-color: $dark;

  @media (min-width: $laptop) {
    background-color: $primary;
  }
}
