<footer>
  <div>
    <section class='icons'>
      <a class='icon' href='https://www.youtube.com/c/PoudlardRP'>
        <img class='youtube' src='../../../../assets/images/youtubeIcon.svg' alt='Icon Youtube'>
      </a>
      <a class='icon' href='https://twitter.com/PoudlardRP'>
        <img class='icon twitter' src='../../../../assets/images/twitterIcon.svg' alt='Icon Twitter'>
      </a>
      <a class='icon' href='http://discord.gg/poudlardrp'>
        <img class='icon discord' src='../../../../assets/images/discordIcon.svg' alt='Icon Discord'>
      </a>
    </section>
  </div>
</footer>
